.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}

.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;//sin bordes los layout!
}

.ui-panelgrid td, .ui-panelgrid tr{
    border-style: none !important;
    background: transparent !important; //transparente a los formularios  
    //background-color: white;

}

.centrar
{
    position: absolute;
    left:50%;
    /*determinamos una anchura*/
    width:700px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-350px;

}
